<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="fragment/bodyHeader :: bodyHeader"/>


<div style="text-align: center;">
    <div th:object="${postDto}">
        <div class="div-margin" style="text-align: left;">
            <input type="text" th:field="*{title}" disabled>
        </div>

        <div class="div-margin">
            <table>
                <tbody>
                <tr class="table">
                    <td th:text="'작성자 : '+${userDto.nickName}">작성자</td>
                    <td th:text="'작성일자 : '+${#temporals.format(postDto.time, 'yyyy-MM-dd HH:mm')}">작성일</td>


                    <td th:text="'조회수 :'">조회</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div style="text-align: right">
            <a th:href="@{'/posts/down/'+ ${postDto.fileName}}">파일 다운로드</a><br>

        </div>
        <div class="div-margin" style="text-align: left;">
            <input style="width: 100%; height: 300px" type="text" th:field="*{content}" disabled>
        </div>

        <div class="div-margin" style="text-align: left">
            댓글 <span th:text="${commentCount}">댓글개수</span>

            <form th:action="@{'/comments/add/'+${postDto.id}}" method="post">
                <input style="width: 700px" th:name="content" placeholder="댓글">
                <input type="submit" value="저장">
            </form>
            <!--            여기서부터 댓글 목록-->
            <!--            댓글-->
            <!--            userDto.nickName-->
            <!--            content  postDto.날짜-->
            <!--            postDto.getComments ->해서리스트-->
            <table class="table">
                <tr th:each="commentDto :${commentDtos}">
                    <th style="padding-right: 50px" th:text="${'['+commentDto.getUser().getNickName()+']'}">닉네임</th>
                    <th style="padding-right: 200px; font-weight : initial; " th:text="${commentDto.getContent()}"> content</th>
                    <th style="font-weight : initial; " th:text="${#temporals.format(commentDto.getTime(), 'yyyy-MM-dd HH:mm')}">날짜</th>
                    <th th:if="${(userDto.id==commentDto.user.id) || (userDto.loginId=='a')}"><a th:href="@{'/comments/delete/'+${commentDto.id}}">삭제</a></th>
                </tr>


            </table>

        </div>


        <form method=post th:action="@{'/posts/delete/'+${postDto.id}}">
            <div style="text-align: right; position: relative;top: 30px;">
                <button type="button" onclick="location.href='/posts'">뒤로가기</button>
                <button th:if="${userDto.id} == ${postDto.user.id}"
                        type="button" th:onclick="|location.href='@{/posts/edit/{postId}(postId=${postId})}'|">수정
                </button>
                <input type="submit" value="삭제"
                       th:if="${userDto.id == postDto.user.id} or ${userDto.loginId == 'a'}">
            </div>
        </form>


    </div>
</div>
</form>


</div>

</body>
</html>
