<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/postList.css">
</head>
<body>
<div style="margin-top: 100px;  text-align: center;">
</div>


<div style="margin-top: 30px;  text-align: center;">
</div>
<div>
    <table style="margin-left:auto;margin-right:auto;">
        <tr>
            <th width="70px">no</th>
            <th width="150px">user</th>
            <th width="300px">title</th>
            <th width="150px">time</th>
        </tr>
        <tr>
            <th> 1</th>
            <th> 사과</th>
            <th style="text-decoration: underline;">독서하는법</th>
            <th> 2023.11.24</th>

        </tr>
    </table>
    <form style="padding-top: 100px; position: relative;
  top: 250px;">
        <input type="text" name="" id="search">
        <button type="button">검색</button>
    </form>
    <div style="text-align: right; position: relative;
  top: 250px;">
        <button type="button">글쓰기
    </div>



    <div style="text-align: right;position: relative; top: 250px;">
        <button type="submit">로그아웃</button>
    </div>

</div>

</body>
</html>
