<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/post.css">
</head>
<body>
<div style="margin-top: 30px;  text-align: center;">
</div>



<div style="margin-top: 101px;  text-align: center;">
</div>

<div>
    <p style="text-align: center;"><h1>독서하는 법</h1> </p>
</div>
<div style="background-color: lightgray; margin-bottom: 30px">
작성자 : 사과 &nbsp&nbsp&nbsp&nbsp&nbsp
    작성일 : 2023-12-12 61:44 &nbsp&nbsp&nbsp&nbsp&nbsp
    조회 : 4
</div>
<div>
    <p>위 소제목에 적었듯이 시간이 없어서 독서를 못하는 분들, 귀찮아서 독서를 안 하는 분들, 또는 엄두가 안 나서 책을 안 읽는 여러분을 위해서 이 글을 씁니다.
        저 역시 책을 많이 읽는 편은 아니었습니다. 난독 증세까지 있을 정도였으니까요. 근데 세어 보니 저도 꽤 많은 책을 읽었더라고요. 완독은 아니라 해도 수많은 책을 접해서 저도 모르게 방송이나 강단에서 어떤 질문을 받으면 제가 읽은 책에서 인용하는 게 대수롭지 않게  되었습니다.</p>
</div>


<div style="text-align: right; position: relative;
  top: 250px;">
    <button type="button">수정 </button>
    <button type="button">삭제 </button>
    <button type="button">글쓰기 </button>
</div>
<div style="text-align: right;position: relative; top: 250px;">
    <button type="submit">뒤로가기</button>
</div>
<div style="text-align: right;position: relative; top: 250px;">
    <button type="submit">로그아웃</button>
</div>
</div>

</body>
</html>
