<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div style="margin-top: 50px;  text-align: center;">
</div>
<div th:replace="fragment/bodyHeader :: bodyHeader"/>


<div style="margin-top: 30px;  text-align: center;">
</div>
<div>
    <table class="border" style="margin-left:auto;margin-right:auto; ">
        <tr>
            <th width="70px">Id</th>
            <th width="150px">LoginId</th>
            <th width="300px">LoginPd</th>
            <th width="150px">Nickname</th>
            <th scope="col">Actions</th>
        </tr>
        <tr th:each="user : ${userDtos}">
            <th th:text="${user.id}">Id</th>
            <th th:text="${user.loginId}">LoginId</th>
            <th th:text="${user.loginPw}">LoginPd</th>
            <th th:text="${user.nickName}"> Nickname</th>
            <th style="text-decoration: underline;">
                <a href="#" th:href="@{/users/delete/{id}(id=${user.id})}">삭제</a>

<!--                <a href="#" th:href="'/users/delete/'+${user.id}">삭제</a>-->
            </th>


        </tr>
    </table>
    <div style="text-align: right; padding-top: 250px">
        <form>
            <input type="text" name="" id="search">
            <button type="button">검색</button>
            <button type="button" onclick="location.href='/posts/add';">글쓰기</button>
        </form>


    </div>


</div>

</body>
</html>
