button {

    margin: 0px 20px 10px 0px;
    display: inline-block;
}

input {
    height: 20px;
    width: 150px;
}

.login{
    font-size: 15px;
}
div{
    text-align: center;

    margin-left: 60px;
    margin-right: 60px;
}

button {
    height: 30px;
    width: 100px;
}

table, th, td {

    border-collapse: collapse;
}

p{
    text-align: left;
}