<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="index.js"></script>
</head>
<body>

<div style="margin-top: 200px;  text-align: center;">

</div>
<form>
    <div style="text-align: center;">
        <p class="login">
            ID <input type="text" name="" id="login_id">
        </p>
    </div>
    <div style="text-align: center; margin-top: 20px">
        <p class="login">
            PW <input type="text" name="" id="login_pw">
        </p>
    </div>

    <div style="text-align: center;">
        <input type="submit" value="로그인"></input>
        <button type="button" onclick="location.href='/users/new'">회원가입</button>
    </div>
</form>


</body>
</html>