<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">

</head>
<body>

<div style="margin-top: 50px;">
</div>


<div th:replace="fragment/bodyHeader :: bodyHeader"/>


<div style="margin-top: 100px; text-align: center">
<h1>메인 페이지</h1>
    <div>
        <button type="button" onclick="location.href='/posts'">게시판</button>
    </div>
<!--    <div>-->
<!--        <button type="button" disabled>채팅</button>-->
<!--    </div>-->
    <div>
        <button type="button" th:onclick="|location.href='@{/friends}'|">친구관리</button>
    </div>
    <div>
        <button type="button" th:onclick="|location.href='@{/users/edit}'|">회원수정</button>
    </div>
    <div>
        <button th:if="${userDto.loginId} == a"
                type="button" onclick="location.href='/users'">관리자페이지
        </button>
    </div>
</div>


</body>
</html>