<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/main.css">

</head>
<body>

<div style="margin-top: 100px;">
</div>
<div style="text-align: right; margin-right: 30px">
    <button type="button">로그아웃</button>
</div>
<div style="margin-top: 100px;">
</div>
<div>
    <input type="button" v>게시판</input>
</div>
<div>
    <button type="button">채팅</button>
</div>
<div>
    <button type="button">친구관리</button>
</div>
<div>
    <button type="button">회원관리</button>
</div>
<div>
    <button type="button">관리자페이지</button>
</div>


</body>
</html>